<html>
  <head>
    {{> head}}
  </head>
  <body>
    <div class="bg-neutral-800 px-16 py-8 min-h-screen w-full">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <div class="lg:col-span-2">
          <div
            id="myBoard"
            class="max-w-3xl"
          ></div>
        </div>
        <div class="text-white">
          <div class="bg-neutral-900 rounded-lg p-4 h-96">
            <label>PGN:</label>
            <div id="pgn"></div>
          </div>
          <div class="bg-neutral-900 rounded-lg p-4 my-4">
            <div id="status"></div>
          </div>
          <li>
            <button
              id="resign"
              class="font-semibold"
            >
              Resign
            </button>
          </li>
        </div>
      </div>
    </div>

    <script>
      $("#resign").on("click", function () {
        window.location.replace("/")
      })
    </script>

    <script>
      let playerColor = "{{color}}"
      console.log("Playing as " + playerColor)
    </script>
    <script src="/public/js/index.js"></script>
  </body>
</html>
